################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mind.AppHost/bin
/Mind.AppHost/obj